/** Start Coding Here **/
#overlay {
  background:none;
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  display:none;
  text-align:center;
}

#overlay img {
 margin-top: 10%; 

}

#overlay p {
 color:white; 
}


#content {
	width: 290px;
	float: left;
	padding: 5px 15px;
}

#middle {
	width: 294px; /* Account for margins + border values */
	float: left;
	padding: 5px 15px;
	margin: 0px 5px 5px 5px;
}

#right {
	width: 270px;
	padding: 5px 15px;
	float: left;
}













